/* imports */
@import url('https://fonts.googleapis.com/css2?family=REM:wght@100;200;300;400;500;600&display=swap');

/* universal */
body {
    font-family: 'REM', sans-serif;
    margin: 0;
    background-color: lightgray;
}

#max-viewport-container {
    margin: 0 auto;
    max-width: 1200px;
    background-color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

body.dark-theme {
    background-color: rgb(20, 20, 20);
    color: white;
}

#max-viewport-container.dark-theme {
    background-color: black;
}

/* header */
header {
    background: url("https://img.freepik.com/free-photo/beautiful-tree-middle-field-covered-with-grass-with-tree-line-background_181624-29267.jpg?w=996&t=st=1691579571~exp=1691580171~hmac=5fbd46168e84705eed07e41765a3c71fe5a66ce1e7345982a77c94711b72b377");
    background-color: lightgray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px
}

#banner-overlay {
    background-color: rgba(240, 240, 240, 0.4);
    height: 500px;
}

#banner-overlay.dark-theme {
    background-color: rgba(8, 8, 8, 0.4);
}

h1 {
    margin: 0 auto;
    padding-top: 100px;
    font-size: 600%;
    font-weight: 600;
}

#greeting {
    margin: 0 auto auto 100px;
    width: 70vw;
}

#greeting p {
    max-width: 800px;
    max-height: 140px;
}

nav {
    position: absolute;
    top: 0;
    z-index: 3;
    height: 100px;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
}

h2 {
    color: orangered;
}

#theme-icon {
    float: right;
    padding-right: 40px;
}

#theme-icon i {
    color: black;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

#theme-icon i:hover {
    color: orange;
}

.banner-button {
    background-color: orangered;
    color: white;
    font-size: large;
    padding: 16px;
    border: none;
    border-radius: 32px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.banner-button:hover {
    background-color: darkorange;
}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 474%;
    }
}

@media screen and (max-width: 767px) {
    #greeting {
        margin: 0 auto;
        width: 90%;
    }

    .banner-button {
        display: block;
        margin: 40px auto;
    }
}

@media screen and (max-width: 575px) {
    h1 {
        line-height: 64px;
    }

    #greeting p {
        overflow-y: scroll;
    }
}

@media screen and (max-width: 374px) {
    h1 {
        font-size: 400%;
        line-height: 56px;
    }
}

/* gallery */
h3 {
    text-align: center;
    padding: 50px;
    font-size: x-large;
}

.row {
    width: 92vw;
    max-width: 1104px;
    margin: auto;
    display: flex;
}

.col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.col img {
    padding: 1vw;
    object-fit: cover;
    width: 21vw;
    height: 21vw;
}

.col:nth-child(odd) img:first-child {
    width: 44vw;
    height: 44vw;
}

.col:nth-child(even) img:last-child {
    width: 44vw;
    height: 44vw;
}

@media screen and (max-width: 575px) {
    .row {
        flex-direction: column;
    }

    .col img {
        padding: 2vw;
        object-fit: cover;
        width: 42vw;
        height: 42vw;
    }

    .col:nth-child(odd) img:first-child {
        width: 88vw;
        height: 88vw;
    }
    
    .col:nth-child(even) img:last-child {
        width: 88vw;
        height: 88vw;
    }
}

@media screen and (min-width: 1201px) {
    .col img {
        padding: 12px;
        object-fit: cover;
        width: 252px;
        height: 252px;
    }
    
    .col:nth-child(odd) img:first-child {
        width: 528px;
        height:528px;
    }
    
    .col:nth-child(even) img:last-child {
        width: 528px;
        height: 528px;
    }
}

/* footer */
footer {
    text-align: center;
    padding: 50px;
}